@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Segoe UI", system-ui, sans-serif;
  background: #f1f5f9;
}

@media print {
  body {
    background: white;
  }
  .no-print {
    display: none !important;
  }
}
